<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">BET ROOM</th>
      <th scope="col">GROUP</th>
      <th scope="col">STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>"les tontons flingueurs"</td>
      <td>copains</td>
      <td>game on</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>EURO 2020</td>
      <td>collegues</td>
      <td>to come</td>
    </tr>
      <th scope="row">2</th>
      <td>EURO 2020</td>
      <td>famille</td>
      <td>to come</td>
    </tr>
  </tbody>
</table>
