
<div class="btn-nav">
  <input type="submit" name="commit" value="Book this star" class="btn-nav" data-disable-with="Book this star" style="border: none !important; color: hotpink; z-index: 5;">
    <svg width="277" height="62">
      <defs>
          <linearGradient id="grad1">
              <stop offset="0%" stop-color="#FF8282"/>
              <stop offset="100%" stop-color="#E178ED" />
          </linearGradient>
      </defs>
       <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
    </svg>
</div>
