<div class = "arrow-left">
  <%= link_to "", bet_room_path(@bet_room), class:"fas fa-arrow-left" %>
</div>

<h2>Evénement Spécial</h2>


<h2>Tous les sports</h2>



<%= simple_form_for([@bet_room, @event], url: create_sport_bet_room_events_path(@bet_room), method: :post) do |f| %>
  <%= f.hidden_field :sport %>
  <div data-event="foot" class="card-category-sport" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Foot
  </div>
  <div data-event="rugby" class="card-category-sport" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Rugby
  </div>
  <div data-event="tennis" class="card-category-sport" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Tennis
  </div>
  <% f.button :submit, "" %>
<% end %>



<!--   <%#= link_to create_sport_bet_room_events_path(@bet_room, sport: "Football"), method: :post do %>
    <div class="card-result">
      Football
    </div>
  <%# end %>
  <%#= link_to create_sport_bet_room_events_path(@bet_room, sport: "Rugby"), method: :post do %>
    <div class="card-result">
      Rugby
    </div>
  <%# end %> -->





