<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Si tu vois cette page, tu es un genie/p>

=======
<h2>Mes Groupes</h2>

<%= link_to "Créer un groupe", "#", class: "btn btn-flat" %>

<h2>Mes Paris</h2>
>>>>>>> d779504c40bfa001b5f17132d2506b1d5dda3e5f
