 .message-container p {
  background: #1EDD88 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color: black;
  margin: 20px;
  padding: 5px 10px 5px 12px;
  width:100%;
}


.my-message p {
  background-color: #1EDD88;
}

.other-message p {
  background-color: #95cbe3;
}
