.container-select-event{
  // margin-top: 51px;
  display: flex;

  h2{
    width: 100%;
    padding-top: 20px;
    // margin-left: 16px;
    font-size: 30px;
    text-align: center;
  }

  a{
    font-size: 30px;
    line-height: 79px;
    margin-left: 30px;
    color: black;
  }
}

.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
  margin: 80px 10px;
}

h1 {
  margin-top: 100px;
}


.container-select-event-description{
  margin-left: 20px;
  margin-right: 20px;
}

.container-description-inline{
  display: flex;
}


