// @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Bangers|DM+Serif+Display|DM+Serif+Text|Paytone+One&display=swap');


h2{
  font-weight: 700;
  letter-spacing: -0.6px;
  margin-bottom: 20px;
  text-align: center;
}

