.navbar-lewagon {
    justify-content: space-between;
    background: white;
    padding: 5px;
    font-size: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
    width: 65px;
}


.navbar-lewagon .container {
  margin: 5px;
}
