.onglet{
  display: inline-block;
  ul {
    list-style-type: none;
    margin: 0px;
    padding-top: 5px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    // top: 56px;
    width: 100%;
    z-index:4;
    overflow:hidden;
    display: inline-block;
    bottom: 0px;
    height: 80px;
  }

  li {
    float: left;
    list-style-type: none;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 23px;
  }

  li p {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    margin: 0px;
    font-weight: bold;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }

  .sticky {
  position: fixed;
  top: 56px;
  width: 100%;
  }
}

